@{ ViewData["Title"] = "Welcome to Match!"; }

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="registration-card">
            <img class="logo" src="~/images/match-logo-img.png" alt="company logo">
            <form action=""></form>
            <div class="form-group">
                <select multiple class="form-control" id="bodytype">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <a asp-controller="Home" asp-action="BodyType"><button class="btn btn-success">This is my body type</button></a>
        </div>

    </div>
    <div class="col-sm-3"></div>
</div>