<!-- ================================================================================= -->
<!-- ================================================================================= -->
                    <!-- TO BE ADDED ON USER PROFILE PAGE WITH FIXED PROPERTIES -->
<!-- ================================================================================= -->
<!-- ================================================================================= -->




<form action="Message" method="POST">
    <div class="form-group">
        <label for="messageContent">Go on, say something</label><<br>
        <textarea  cols="50" rows="10" asp-for="messageContent" class="form-control" name="messageContent" placeholder="Start the conversation..."></textarea>
        <span asp-validation-for="messageContent"></span>
    </div>
    <br><input class="btn btn-primary btn-small" role="button" type="submit" name="Send Message">
</form>