@{ Layout = null; }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/dashboard.css">
    <title>Let's Match!</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link active" asp-action="Dashboard" asp-controller="Home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="LogOut">Log Out</a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <img class="card-img-top" src="@ViewBag.User.ImgUrl" alt="Card image cap">
                            <div class="card-body">
                                <h4 class="card-title">@ViewBag.User.Name</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">

            </div>
        </div>
    </div>
</body>

</html>