@{ ViewData["Title"] = "Welcome to Match!"; }

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="registration-card">
            <h2>Impressed with the slider???</h2>
            <h3>I will see you guys in a bit</h3>
            <div id="heightSlider"></div>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>